<div>
    <h1>Edit Your Profile </h1>
    <hr>
    <div class="col-md-4">
      <form autocomplete="off" novalidate [formGroup]="profileform" (ngSubmit)="save(profileform.value)" >
        <div class="form-group" [ngClass]="{'error':!errorfirst()}">
          <label for="firstName">First Name:</label>
          <em *ngIf="!errorfirst() && profileform.controls.x.errors.required" >Required</em>
          <em *ngIf="!errorfirst() && profileform.controls.x.errors.pattern" >must start with a letter</em>
          <input id="firstName" formControlName="x"  type="text"  class="form-control" placeholder="First Name..." />
        </div>
        <div class="form-group" [ngClass]="{'error':!errorlast()}">
          <label for="lastName">Last Name:</label>
          <em *ngIf="!errorlast() && profileform.controls.y.errors.required" >Required</em>
          <em *ngIf="!errorlast() && profileform.controls.y.errors.pattern" >must start with a letter</em>
          <input id="lastName" formControlName="y"  type="text" class="form-control" placeholder="Last Name..." />
        </div>
  
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-default" (click)="back()">Cancel</button>
        <button type="button" class="btn btn-danger" style="float: right;" (click)="logout()">Logout</button>
      </form>
    </div>
  </div>
  